*{
    padding: 0;
    margin: 0;
}

nav {

    display: flex;
    color: rgb(255, 255, 255);
    background-color: #000;
    width: 100%;
    height:90px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}



ul{ 
    display: flex;
    list-style: none;
   
}

li { margin-left: 10px ; }
